<section class="content-header">
  <h1>Driver <span class="status-on">{{driverDashboardDetails?.driverId}}</span></h1>
</section>
<div class="main-page dashboard">
  <div class="row dashboardtop-widget">
    <div class="col-xl-3 col-lg-4">
      <div class="dashboard-chart bgbluewidget text-center">
        <div class="widget-readings-box">
          <div class="widget-reading-left">
            <h4>{{driverDashboardDetails?.totalCompletedTripCount}}</h4>
            <p>Completed</p>
          </div>
          <div class="widget-reading-right">
            <h4>{{driverDashboardDetails?.totalScheduledTripCount}}</h4>
            <p>Upcoming</p>
          </div>
        </div>
        <p class="small-widget-heading">Total Trips - <strong>{{driverDashboardDetails?.totalTripCount}}</strong> </p>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5">
      <div class="dashboard-chart bgpinkwidget text-center">
        <div class="widget-readings-box">
          <div class="widget-reading-left">
            <h4>{{driverDashboardDetails?.harshBreakingCount}}</h4>
            <p>Harsh Breaking</p>
          </div>
          <div class="widget-reading-left">
            <h4>{{driverDashboardDetails?.overSpeedCount}}</h4>
            <p>Over Speed</p>
          </div>
          <div class="widget-reading-right">
            <h4>{{driverDashboardDetails?.idleTimeHours}}</h4>
            <p>Idle Time (Hrs)</p>
          </div>
        </div>
        <p class="small-widget-heading">Incidents</p>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3">
      <div class="dashboard-chart bggreenlwidget text-center">
        <h4>{{driverDashboardDetails?.driverStatus}}</h4>
        <p class="small-widget-heading">Status</p>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3">
      <div class="dashboard-chart bgyellowwidget text-center">
        <h4><a style="color:#000;" [routerLink]="['/assets']">{{driverDashboardDetails?.totalAlerts}}</a></h4>
        <p class="small-widget-heading">Alerts (Today)</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="drag-body dashboard-widget m-b-30">
        <div class="panel-heading">
          <h5 class="panel-title"> Trips </h5>
        </div>
        <mat-card class="dashboard-card mat-card">
          <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Ongoing">
              <div class="row mt-3 mb-1 driver-trip" *ngIf="ongoingTripDetailsCount > 0" >
                <div class="col-md-8">
                  <div class="trip-track">
                    <div class="source-location">
                      <h3>{{ongoingTripDetails?.sourceLocation}}</h3>
                      <span>{{getLocalDate(ongoingTripDetails?.startDateTime)}}</span>
                    </div>
                    <div class="destination-location">
                      <h3>{{ongoingTripDetails?.destinationLocation}}</h3>
                      <span>{{ongoingTripDetails?.endDateTime == null || ongoingTripDetails?.endDateTime == '' ? '': getLocalDate(ongoingTripDetails?.endDateTime)}}</span>
                    </div>
                    <span class="track" [ngStyle]="{'background':'linear-gradient(to left, #f0f0f0 '+(100 - progressMilesPerc)+'%, #41c363 '+progressMilesPerc+'%)'}">
                    </span>
                    <img src="../../../../assets/images/truck.svg" class="driverTruck" [ngStyle]="{'left': (tripStatus == 'Completed') ? '100%' : progressMilesPerc + '%'}"appTooltip="ETA : {{arrivalTime}}" placement="top" delay="100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="dashboard-chart bggreenlwidget text-center">
                    <h4>{{(ongoingTripDetails?.coveredMiles == null? coveredMiles : ongoingTripDetails?.coveredMiles) | number : '1.1-1'}}
                    <span style="font-size:large"> Miles</span>/{{totalMiles | number : '1.1-1'}}<span style="font-size:large"> Miles</span></h4>
                  </div>
                  <div class="dashboard-chart bgpinkwidget text-center">
                    <h4>{{ongoingTripDetails?.materialType}}</h4>
                    <p class="small-widget-heading">Load Type - </p>
                  </div>
                  <div class="dashboard-chart bgbluewidget text-center">
                    <h4>{{ongoingTripDetails?.weight}}</h4>
                    <p class="small-widget-heading">Weight (Tons) - </p>
                  </div>
                </div>
              </div>
              <div *ngIf="ongoingTripDetailsCount <= 0" class="centerclass">No records found</div>
            </mat-tab>
            <mat-tab label="Upcoming">
              <div class="table-container">
                <table mat-table [dataSource]="tripList" class="mat-elevation-z8">

                  <!-- Name Column -->
                  <ng-container matColumnDef="tripId">
                    <th mat-header-cell *matHeaderCellDef> Trip ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.tripId}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="fleetName">
                    <th mat-header-cell *matHeaderCellDef> Fleet ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.fleetName}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight (Tons) </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="totalMiles">
                    <th mat-header-cell *matHeaderCellDef> Miles </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalMiles}} </td>
                  </ng-container>

                  <ng-container matColumnDef="materialType">
                    <th mat-header-cell *matHeaderCellDef> Material Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.materialType}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="tripList.length === 0" class="centerclass">No records found</div>
              </div>
              <mat-paginator #paginator [length]="totalRecords" [pageIndex]="searchParameters.pageNumber"
                             [pageSize]="searchParameters.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="ChangePaginationAsPageChange($event)"
                             [showFirstLastButtons]="true" *ngIf="tripList.length !== 0">
              </mat-paginator>
            </mat-tab>
            <mat-tab label="Completed">
              <div class="table-container">
                <table mat-table [dataSource]="tripList" class="mat-elevation-z8">

                  <!-- Name Column -->
                  <ng-container matColumnDef="tripId">
                    <th mat-header-cell *matHeaderCellDef> Trip ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.tripId}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="fleetName">
                    <th mat-header-cell *matHeaderCellDef> Fleet ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.fleetName}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight (Tons) </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="totalMiles">
                    <th mat-header-cell *matHeaderCellDef> Miles </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalMiles}} </td>
                  </ng-container>

                  <ng-container matColumnDef="materialType">
                    <th mat-header-cell *matHeaderCellDef> Material Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.materialType}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="tripList.length === 0" class="centerclass">No records found</div>
              </div>
              <mat-paginator #paginator [length]="totalRecords" [pageIndex]="searchParameters.pageNumber"
                             [pageSize]="searchParameters.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="ChangePaginationAsPageChange($event)"
                             [showFirstLastButtons]="true" *ngIf="tripList.length !== 0">
              </mat-paginator>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
    <div class="col-xl-7">
      <div class="drag-body dashboard-widget ">
        <div class="panel-heading">
          <h5 class="panel-title"> Past Trips </h5>
          <div class="m-r-20">
            <mat-radio-group (change)="changeGraphFilter($event)" aria-label="Select an option" class="d-flex align-items-center">
              <mat-radio-button [checked]="type == 'd'?'true':'false'" value="Day">Day</mat-radio-button>
              <mat-radio-button [checked]="type == 'w'?'true':'false'" value="Week">Week</mat-radio-button>
              <mat-radio-button [checked]="type == 'm'?'true':'false'" value="Month">Month</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <mat-card class="dashboard-card mat-card">
          <google-chart *ngIf="columnChart.dataTable.length" [data]="columnChart"></google-chart>
          <div *ngIf="!columnChart.dataTable.length"
               class="text-center d-flex align-items-center justify-content-center" style="height: 350px;">
            No data found
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="drag-body dashboard-widget ">
        <div class="panel-heading">
          <h5 class="panel-title w-100"> Alerts </h5>
          <div style="margin-right: 20px;" class="tab-link-bar" *ngIf="alerts?.length>0">
            <a class="text-nowrap" [routerLink]="['/alerts']"
               href="javascript:;">View All</a>
          </div>
        </div>
        <mat-card class="dashboard-card mat-card pt-0">
          <ng-scrollbar class="my-scrollbar m-b-55" trackX="false" trackY="true"
                        autohide="false" [compact]="false" *ngIf="alerts?.length>0">
            <ul class="alerts-dashboard alerts-building-list driver-alerts-custom">
              <li [ngClass]="alert['severity']" *ngFor="let alert of alerts">
                <span class="alerts-date">{{getLocalDate(alert['eventDate'])}}</span>
                <span class="alerts-info">{{alert.message}}</span>
              </li>
            </ul>
          </ng-scrollbar>
          <div *ngIf="alerts?.length==0" class="centerclass no-record-building-details" style="height: 365px;">
            No records
            found
          </div>
          <div class="alert-indicator-wrapper">
            <div class="alert-indicator-list">
              <div class="alert-indicator Critical">
                <span class="legend"></span>
                <span class="alert-text">Critical</span>
              </div>
              <div class="alert-indicator Information">
                <span class="legend"></span>
                <span class="alert-text">Information</span>
              </div>
              <div class="alert-indicator Major">
                <span class="legend"></span>
                <span class="alert-text">Major</span>
              </div>
              <div class="alert-indicator Minor">
                <span class="legend"></span>
                <span class="alert-text">Minor</span>
              </div>
              <div class="alert-indicator Warning">
                <span class="legend"></span>
                <span class="alert-text">Warning</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
